* {
  margin: 00;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: 
  "header    header"
  "sidebar   contenido"
  "footer    footer";
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;

  margin: 20px;
  padding: 20px;
}
nav {
  display: flex;
  gap: 24px;
}
aside {
  grid-area: sidebar;
}

main {
  grid-area: contenido;
}

.boton {
  display: inline-block;
  background-color: #52528C;
  text-decoration: none;
  border-radius: 12px;
  padding: 10px 24px;
  margin: 10px;
  color: aliceblue;
  font-weight: bold;

}

.foto {
  object-fit: cover;
  height: 150px;
}

.cuadricula {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 20px;
  margin: 20px 20px;
}

.elemento {
  display: flex;

}

footer {
  grid-area: footer;
}
